
:root {
  --baxShadow: 0px 2px 5px 0px rgba(15, 15, 15, 0.253);
  --gray: rgba(250, 250, 250, 0.445);
}

body, html, #root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(180deg, rgb(152, 194, 206) 0%, rgb(196, 132, 123) 100%);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.search-container{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: var(--baxShadow);
}

button{
  padding: 1rem;
  border: none;
  background-color: var(--gray);
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
}

.search-icon{
  font-size: 1.5rem;
}

.search {
  padding: 1.5rem 2.3rem ;
  outline: none;
  border: none;
  width: 11.5rem;
  border-radius: 20px 0px 0px 20px;
  background-color: var(--gray);
  
}

.city-card-cold {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 2.3rem;
  border-radius: 20px;
  width: 15rem;
  box-shadow: var(--baxShadow);
  background-color: rgba(176, 196, 202, 0.445)
}

.city-card-hot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 2.3rem;
  border-radius: 20px;
  width: 15rem;
  box-shadow: var(--baxShadow);
  background-color: rgba(194, 144, 137, 0.445);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1e2432;
  text-align: center;
}

.city-card-cold sup {
  font-size: 0.5em;
}

.city-card-hot sup {
  font-size: 0.5em;
}

.city-name {
  max-width: 15rem;
  font-size: 2em;
  text-align: center;
  line-height: 2rem;
  
}

.city {
  word-break: break-word;
}

.city-name sup {
  padding: 0.2em 0.5em;
  margin-left: 0.2em;
  border-radius: 10px;
  color: #fff;
  background: #ffad4f;
}

.city-feels-like {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.humidity {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

@media (min-width: 600px) {
  .search {
      width: 16.5rem;
  }

  .city-card-hot {
      width: 20rem;
  }

  .city-card-cold {
    width: 20rem;
  }
}
